<div class="jumbotron">
  <h1>WorldSkills Americas 2014 Mobile App CMS</h1>
  <p>This is a simple Content Management System for the WorldSkills Americas 2014 mobile apps</p>
</div>
<p>You can add new items following the links below</p>

<ul>
  <li>
    <a href="/news">News</a> - News articles related to the competition.
  </li>
  <li>
    <a href="/events">Events</a> - Events occuring during the competition, which the user will be able to subscribe to get a reminder notification for when the even is about to start.
  </li>
  <li>
    <a href="/sponsors">Sponsors</a> - Sponsors of the competition, divided by categories, shown on the respective section of the app
  </li>
</ul>