<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>01</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>México</string>
        <string>Peru</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>02</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Antilhas Holandesas</string>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>04</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>El Salvador</string>
        <string>Guatemala</string>
        <string>México</string>
        <string>Peru</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>05</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Guatemala</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>06</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>El Salvador</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>07</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>Dominican Republic</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>09</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Dominican Republic</string>
        <string>Guatemala</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>10</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Antilhas Holandesas</string>
        <string>Bolívia</string>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>Guatemala</string>
        <string>Honduras</string>
        <string>México</string>
        <string>Panamá</string>
        <string>Peru</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>12</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Argentina</string>
        <string>Antilhas Holandesas</string>
        <string>Brasil</string>
        <string>Colombia</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>15</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Argentina</string>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Paraguai</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>16</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Dominican Republic</string>
        <string>Guatemala</string>
        <string>Honduras</string>
        <string>México</string>
        <string>Panamá</string>
        <string>Peru</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>17</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Antilhas Holandesas</string>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>Dominican Republic</string>
        <string>Guatemala</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>18</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Argentina</string>
        <string>Bolívia</string>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>Guatemala</string>
        <string>Honduras</string>
        <string>México</string>
        <string>Panamá</string>
        <string>Paraguai</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>19</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>El Salvador</string>
        <string>Guatemala</string>
        <string>México</string>
        <string>Peru</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>20</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Argentina</string>
        <string>Bolívia</string>
        <string>Brasil</string>
        <string>Colombia</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>21</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Argentina</string>
        <string>Antilhas Holandesas</string>
        <string>Brasil</string>
        <string>Colombia</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>23</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>24</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Costa Rica</string>
        <string>Estados Unidos</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>29</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Barbados</string>
        <string>Brasil</string>
        <string>Costa Rica</string>
        <string>Guatemala</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>31</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>32</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Costa Rica</string>
        <string>El Salvador</string>
        <string>Guatemala</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>33</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>Dominican Republic</string>
        <string>Guatemala</string>
        <string>México</string>
        <string>Peru</string>
        <string>Estados Unidos</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>34</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Antilhas Holandesas</string>
        <string>Bolívia</string>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>El Salvador</string>
        <string>Guatemala</string>
        <string>México</string>
        <string>Panamá</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>35</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Antilhas Holandesas</string>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>México</string>
        <string>Panamá</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>38</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Colombia</string>
        <string>Guatemala</string>
        <string>Panamá</string>
        <string>Paraguai</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>39</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Guatemala</string>
        <string>México</string>
        <string>Paraguai</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>40</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>Costa Rica</string>
        <string>Guatemala</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>41</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Argentina</string>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Colombia</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>46</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Bolívia</string>
        <string>Brasil</string>
        <string>Guatemala</string>
        <string>Peru</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>47</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Bolívia</string>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Costa Rica</string>
        <string>Guatemala</string>
        <string>Honduras</string>
        <string>México</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>48</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Chile</string>
        <string>Costa Rica</string>
        <string>Guatemala</string>
        <string>Honduras</string>
      </array>
    </dict>
  </dict>
  <dict>
    <key>50</key>
    <dict>
      <key>countries</key>
      <array>
        <string>Brasil</string>
        <string>Colombia</string>
      </array>
    </dict>
  </dict>
</plist>