<h2>New News Article</h2>
<form action="/news" enctype="multipart/form-data" method="POST">
	<div class="form-group">
		<label for="text">English Title</label>
		<input type="text" id="text" name="title_en" class="form-control">
	</div>
	<div class="form-group">
		<label for="text">Spanish Title</label>
		<input type="text" id="text" name="title_es" class="form-control">
	</div>
	<div class="form-group">
		<label for="text">Portuguese Title</label>
		<input type="text" id="text" name="title_pt" class="form-control">
	</div>

	<div class="form-group">
		<label for="author">Author</label>
		<input id="author" name="author" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label for="image">Image</label>
		<input id="image" name="image" type="file" >
	</div>
	<div class="form-group">
		<label for="body_en">English Body</label>
		<textarea id="body_en" name="body_en" cols="30" rows="10" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="body_es">Spanish Body</label>
		<textarea id="body_es" name="body_es" cols="30" rows="10" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<label for="body_pt">Portuguese Body</label>
		<textarea id="body_pt" name="body_pt" cols="30" rows="10" class="form-control"></textarea>
	</div>
	<div class="form-group">
		<input type="submit" class="btn btn-primary" value="Submit">
	</div>
</form>

<p><a href="/news">Back to list</a></p>